/* --- desktop nav --- */

.nav-container{
  @include display(flex);
  @include justify-content(space-between);
}

.site-nav{
  @include position(absolute);
  width: 100%;
  @include padding(20px 30px 0px);
  z-index: 3;

  @media #{$tablet}{
    @include padding(50px 40px 0px);
  }
}
.logo{
  a{
    text-decoration: none;
    img{
      width: 50px;
      height: 50px;
    }
  }
}
.site-nav__items{
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  padding: 20px;
  background: $primaryColor;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: -30px;
  top: -20px;

  a{
    color: $white;
    margin: 7px 0;
    text-decoration: none;
    display: block;
    font-family: $secondaryFont;
    font-size: 35px;
    font-weight: 300;
  }

  @media #{$laptop}{
    padding: 0;
    width: auto;
    display: block !important;
    position: static;
    background: none;
    height: auto;

    a{
      margin: 0 7px;
      display: inline-block;
      font-size: 20px;
    }
  }
}



/* --- mobile nav --- */

.mobile-nav {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 30px;
    background: 0 0;
    cursor: pointer;
    border: 0;
    top: 10px;

    @media #{$laptop}{
      display: none;
    }
}

.mobile-nav.open-nav{
  z-index: 9;

  .inner .icon-bar{
    background: $white;
  }
}

.mobile-nav:focus {
    outline: 0
}

.mobile-nav .inner {
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 0;
    width: 20px;
    height: 18px;
    margin: -9px 0 0 -9px
}

.mobile-nav .inner .icon-bar {
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    background: $white;
    transition: all .3s ease-in-out
}

.mobile-nav .inner .icon-bar.top {
    top: 0
}

.mobile-nav .inner .icon-bar.middle {
    top: 8px
}

.mobile-nav .inner .icon-bar.bottom {
    bottom: 0
}

.mobile-nav.open-nav .inner .icon-bar.middle {
    opacity: 0
}

.mobile-nav.open-nav .inner .icon-bar.top {
    top: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.mobile-nav.open-nav .inner .icon-bar.bottom {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
