@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../images/icons/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* --- Colours --- */
/* --- Colours --- */
/* --------------------------------*/
/* --- Fonts --- */
/* --- Fonts --- */
/* --------------------------------*/
/* --- Media Querys --- */
/* --- Media Querys --- */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  font-size: 50px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 80px;
  }
}

h2 {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  font-size: 20px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 40px;
  }
}

p {
  font-family: "Rubik";
  font-weight: 300;
}

.site-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* --- Colours --- */
/* --- Colours --- */
/* --------------------------------*/
/* --- Fonts --- */
/* --- Fonts --- */
/* --------------------------------*/
/* --- Media Querys --- */
/* --- Media Querys --- */
/* --- desktop nav --- */
.nav-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.site-nav {
  position: absolute;
  width: 100%;
  padding: 20px 30px 0;
  z-index: 3;
}
@media (min-width: 768px) {
  .site-nav {
    padding: 50px 40px 0;
  }
}

.logo a {
  text-decoration: none;
}
.logo a img {
  width: 50px;
  height: 50px;
}

.site-nav__items {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 20px;
  background: #343434;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: -30px;
  top: -20px;
}
.site-nav__items a {
  color: #fff;
  margin: 7px 0;
  text-decoration: none;
  display: block;
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 300;
}
@media (min-width: 1024px) {
  .site-nav__items {
    padding: 0;
    width: auto;
    display: block !important;
    position: static;
    background: none;
    height: auto;
  }
  .site-nav__items a {
    margin: 0 7px;
    display: inline-block;
    font-size: 20px;
  }
}

/* --- mobile nav --- */
.mobile-nav {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 30px;
  background: 0 0;
  cursor: pointer;
  border: 0;
  top: 10px;
}
@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav.open-nav {
  z-index: 9;
}
.mobile-nav.open-nav .inner .icon-bar {
  background: #fff;
}

.mobile-nav:focus {
  outline: 0;
}

.mobile-nav .inner {
  position: absolute;
  z-index: 9;
  top: 50%;
  right: 0;
  width: 20px;
  height: 18px;
  margin: -9px 0 0 -9px;
}

.mobile-nav .inner .icon-bar {
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.mobile-nav .inner .icon-bar.top {
  top: 0;
}

.mobile-nav .inner .icon-bar.middle {
  top: 8px;
}

.mobile-nav .inner .icon-bar.bottom {
  bottom: 0;
}

.mobile-nav.open-nav .inner .icon-bar.middle {
  opacity: 0;
}

.mobile-nav.open-nav .inner .icon-bar.top {
  top: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-nav.open-nav .inner .icon-bar.bottom {
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Rubik-300/Rubik-300.eot");
  src: url("/fonts/Rubik-300/Rubik-300.eot?#iefix") format("embedded-opentype"), local("Rubik Light"), local("Rubik-300"), url("/fonts/Rubik-300/Rubik-300.woff2") format("woff2"), url("/fonts/Rubik-300/Rubik-300.woff") format("woff"), url("/fonts/Rubik-300/Rubik-300.ttf") format("truetype"), url("/fonts/Rubik-300/Rubik-300.svg#Rubik") format("svg");
}
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Rubik-regular/Rubik-regular.eot");
  src: url("/fonts/Rubik-regular/Rubik-regular.eot?#iefix") format("embedded-opentype"), local("Rubik"), local("Rubik-regular"), url("/fonts/Rubik-regular/Rubik-regular.woff2") format("woff2"), url("/fonts/Rubik-regular/Rubik-regular.woff") format("woff"), url("/fonts/Rubik-regular/Rubik-regular.ttf") format("truetype"), url("/fonts/Rubik-regular/Rubik-regular.svg#Rubik") format("svg");
}
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Rubik-700/Rubik-700.eot");
  src: url("/fonts/Rubik-700/Rubik-700.eot?#iefix") format("embedded-opentype"), local("Rubik Bold"), local("Rubik-700"), url("/fonts/Rubik-700/Rubik-700.woff2") format("woff2"), url("/fonts/Rubik-700/Rubik-700.woff") format("woff"), url("/fonts/Rubik-700/Rubik-700.ttf") format("truetype"), url("/fonts/Rubik-700/Rubik-700.svg#Rubik") format("svg");
}
@font-face {
  font-family: 'Rubik';
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/Rubik-900/Rubik-900.eot");
  src: url("/fonts/Rubik-900/Rubik-900.eot?#iefix") format("embedded-opentype"), local("Rubik Black"), local("Rubik-900"), url("/fonts/Rubik-900/Rubik-900.woff2") format("woff2"), url("/fonts/Rubik-900/Rubik-900.woff") format("woff"), url("/fonts/Rubik-900/Rubik-900.ttf") format("truetype"), url("/fonts/Rubik-900/Rubik-900.svg#Rubik") format("svg");
}
.loader {
  height: 100%;
  width: 100%;
  background: #343434;
  background: #343434;
  position: absolute;
  z-index: 4;
}
@media (max-width: 550px) {
  .loader {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@media (max-width: 440px) {
  .loader {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.loader .l_main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 172px;
  height: 128px;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loaded {
  z-index: -1;
}

.l_square {
  position: relative;
}

.l_square:nth-child(1) {
  margin-left: 0px;
}

.l_square:nth-child(2) {
  margin-left: 44px;
}

.l_square:nth-child(3) {
  margin-left: 88px;
}

.l_square:nth-child(4) {
  margin-left: 132px;
}

.l_square span {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 36px;
  width: 36px;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.l_square span:nth-child(1) {
  top: 0px;
}

.l_square span:nth-child(2) {
  top: 44px;
}

.l_square span:nth-child(3) {
  top: 88px;
}

.l_square:nth-child(1) span {
  -webkit-animation: animsquare1 2s infinite ease-in;
  animation: animsquare1 2s infinite ease-in;
}

.l_square:nth-child(2) span {
  -webkit-animation: animsquare2 2s infinite ease-in;
  animation: animsquare2 2s infinite ease-in;
}

.l_square:nth-child(3) span {
  -webkit-animation: animsquare3 2s infinite ease-in;
  animation: animsquare3 2s infinite ease-in;
}

.l_square:nth-child(4) span {
  -webkit-animation: animsquare4 2s infinite ease-in;
  animation: animsquare4 2s infinite ease-in;
}

.l_square span:nth-child(1) {
  -webkit-animation-delay: 0.00s;
  animation-delay: 0s;
}

.l_square span:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.l_square span:nth-child(3) {
  -webkit-animation-delay: 0.30s;
  animation-delay: 0.3s;
}

@-webkit-keyframes animsquare1 {
  0%,5%,95%,100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  30%,70% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@keyframes animsquare1 {
  0%,5%,95%,100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  30%,70% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@-webkit-keyframes animsquare2 {
  0%,10%,90%,100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  35%,65% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@keyframes animsquare2 {
  0%,10%,90%,100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  35%,65% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@-webkit-keyframes animsquare3 {
  0%,15%,85%,100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40%,60% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@keyframes animsquare3 {
  0%,15%,85%,100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40%,60% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@-webkit-keyframes animsquare4 {
  0%,20%,80%,100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  45%,55% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
@keyframes animsquare4 {
  0%,20%,80%,100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  45%,55% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section.intro {
  background-color: #343434;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
section.intro .intro-text {
  color: #fff;
  text-align: center;
  z-index: 1;
}

.blocks {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.blocks-green {
  position: absolute;
  width: inherit;
  height: inherit;
}
.blocks-green .b-green {
  background-image: url("../images/tetris/green.svg");
  background-image: url("../images/tetris/green.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.blocks-yellow {
  position: absolute;
  width: inherit;
  height: inherit;
}
.blocks-yellow .b-yellow {
  background-image: url("../images/tetris/yellow.svg");
  background-image: url("../images/tetris/yellow.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.blocks-red {
  position: absolute;
  width: inherit;
  height: inherit;
}
.blocks-red .b-red {
  background-image: url("../images/tetris/red.svg");
  background-image: url("../images/tetris/red.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.blocks-lblue {
  position: absolute;
  width: inherit;
  height: inherit;
}
.blocks-lblue .b-lblue {
  background-image: url("../images/tetris/lblue.svg");
  background-image: url("../images/tetris/lblue.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.blocks-dblue {
  position: absolute;
  width: inherit;
  height: inherit;
}
.blocks-dblue .b-dblue {
  background-image: url("../images/tetris/dblue.svg");
  background-image: url("../images/tetris/dblue.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.blocks-orange {
  position: absolute;
  width: inherit;
  height: inherit;
}
.blocks-orange .b-orange {
  background-image: url("../images/tetris/orange.svg");
  background-image: url("../images/tetris/orange.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.blocks-purple {
  position: absolute;
  width: inherit;
  height: inherit;
}
.blocks-purple .b-purple {
  background-image: url("../images/tetris/purple.svg");
  background-image: url("../images/tetris/purple.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.mobile-nav {
  display: none !important;
}

.site-nav__items {
  display: none !important;
}

.site-container.cv {
  background-color: #343434;
}
.site-container.cv h2 {
  border-bottom: 2px solid #343434;
  font-size: 30px;
}
.site-container.cv h3 {
  font-size: 25px;
  font-family: "Rubik";
}
.site-container.cv p {
  line-height: 25px;
  font-size: 20px;
}
.site-container.cv ul li {
  font-family: rubik;
  font-weight: 300;
  line-height: 25px;
  padding: 10px;
  font-size: 20px;
}

.cv-intro {
  text-align: center;
  padding-top: 20px;
  height: 100%;
  color: #fff;
}

.row {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.column {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.container-50 {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 10px;
}

.container-100 {
  width: 100%;
  position: relative;
  margin: 10px;
}

.box {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}
.box img {
  width: 80%;
  margin: 0 auto;
}

#profile-img {
  background-image: url("../images/me.png");
  background-image: url("../images/me.png");
  height: 415px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid #fff;
}

#cv-contact {
  text-align: center;
  padding: 40px;
}

#key-skills {
  height: 100%;
}

.cv-blocks {
  position: absolute;
  height: 100%;
  width: 100%;
}
.cv-blocks img {
  width: 80px;
  position: absolute;
}
.cv-blocks .top-left {
  top: 0;
  left: 0;
}
.cv-blocks .top-right {
  top: 0;
  right: 0;
}
.cv-blocks .bottom-left {
  bottom: 0;
  left: 0;
}
.cv-blocks .bottom-right {
  bottom: 0;
  right: 0;
}

.experience {
  height: 100%;
}
.experience .slick-next,
.experience .slick-prev {
  display: none !important;
}
