/* --- Colours --- */
/* --- Colours --- */
/* --------------------------------*/
/* --- Fonts --- */
/* --- Fonts --- */
/* --------------------------------*/
/* --- Media Querys --- */
/* --- Media Querys --- */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
}

h1 {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  font-size: 80px;
}

h2 {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  font-size: 40px;
}

p {
  font-family: "Rubik";
  font-weight: 300;
}

.site-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* --- Colours --- */
/* --- Colours --- */
/* --------------------------------*/
/* --- Fonts --- */
/* --- Fonts --- */
/* --------------------------------*/
/* --- Media Querys --- */
/* --- Media Querys --- */
/* --- desktop nav --- */
.nav-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.site-nav {
  position: absolute;
  width: 100%;
  padding: 20px;
  z-index: 99;
}

.logo a {
  text-decoration: none;
}

.site-nav__items {
  padding: 20px;
  background: #eee;
  left: 0;
  width: 100%;
  position: absolute;
  top: 70px;
}
.site-nav__items a {
  color: #fff;
  margin: 7px 0;
  text-decoration: none;
  display: block;
  font-family: "Rubik";
}
@media (min-width: 1024px) {
  .site-nav__items {
    padding: 0;
    width: auto;
    display: block !important;
    position: static;
    background: none;
  }
  .site-nav__items a {
    margin: 0 7px;
    display: inline-block;
  }
}

/* --- mobile nav --- */
.mobile-nav {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 30px;
  background: 0 0;
  cursor: pointer;
  border: 0;
}
@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav.open-nav {
  z-index: 9;
}
.mobile-nav.open-nav .inner .icon-bar {
  background: #fff;
}

.mobile-nav:focus {
  outline: 0;
}

.mobile-nav .inner {
  position: absolute;
  z-index: 9;
  top: 50%;
  right: 0;
  width: 20px;
  height: 18px;
  margin: -9px 0 0 -9px;
}

.mobile-nav .inner .icon-bar {
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.mobile-nav .inner .icon-bar.top {
  top: 0;
}

.mobile-nav .inner .icon-bar.middle {
  top: 8px;
}

.mobile-nav .inner .icon-bar.bottom {
  bottom: 0;
}

.mobile-nav.open-nav .inner .icon-bar.middle {
  opacity: 0;
}

.mobile-nav.open-nav .inner .icon-bar.top {
  top: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-nav.open-nav .inner .icon-bar.bottom {
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Rubik-300/Rubik-300.eot");
  src: url("/fonts/Rubik-300/Rubik-300.eot?#iefix") format("embedded-opentype"), local("Rubik Light"), local("Rubik-300"), url("/fonts/Rubik-300/Rubik-300.woff2") format("woff2"), url("/fonts/Rubik-300/Rubik-300.woff") format("woff"), url("/fonts/Rubik-300/Rubik-300.ttf") format("truetype"), url("/fonts/Rubik-300/Rubik-300.svg#Rubik") format("svg");
}
@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Rubik-regular/Rubik-regular.eot");
  src: url("/fonts/Rubik-regular/Rubik-regular.eot?#iefix") format("embedded-opentype"), local("Rubik"), local("Rubik-regular"), url("/fonts/Rubik-regular/Rubik-regular.woff2") format("woff2"), url("/fonts/Rubik-regular/Rubik-regular.woff") format("woff"), url("/fonts/Rubik-regular/Rubik-regular.ttf") format("truetype"), url("/fonts/Rubik-regular/Rubik-regular.svg#Rubik") format("svg");
}
@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Rubik-700/Rubik-700.eot");
  src: url("/fonts/Rubik-700/Rubik-700.eot?#iefix") format("embedded-opentype"), local("Rubik Bold"), local("Rubik-700"), url("/fonts/Rubik-700/Rubik-700.woff2") format("woff2"), url("/fonts/Rubik-700/Rubik-700.woff") format("woff"), url("/fonts/Rubik-700/Rubik-700.ttf") format("truetype"), url("/fonts/Rubik-700/Rubik-700.svg#Rubik") format("svg");
}
@font-face {
  font-family: 'Rubik';
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/Rubik-900/Rubik-900.eot");
  src: url("/fonts/Rubik-900/Rubik-900.eot?#iefix") format("embedded-opentype"), local("Rubik Black"), local("Rubik-900"), url("/fonts/Rubik-900/Rubik-900.woff2") format("woff2"), url("/fonts/Rubik-900/Rubik-900.woff") format("woff"), url("/fonts/Rubik-900/Rubik-900.ttf") format("truetype"), url("/fonts/Rubik-900/Rubik-900.svg#Rubik") format("svg");
}
section.intro {
  background-color: #343434;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
section.intro .intro-text {
  color: #fff;
  text-align: center;
}
