.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

section{
  &.intro{
    background-color: $primaryColor;
    height: 100vh;
    width: 100%;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    .intro-text{
      color: $white;
      text-align: center;
      z-index: 1;
    }
  }
}
